on:
  workflow_dispatch:
    inputs:
      storageAccountName:
        description: Storage Account Name
      location:
        description: Location
      storageAccountType:
        type: choice
        description: Storage Account Type
        default: Standard_LRS
        options:
        - Premium_LRS
        - Premium_ZRS
        - Standard_GRS
        - Standard_GZRS
        - Standard_LRS
        - Standard_RAGRS
        - Standard_RAGZRS
        - Standard_ZRS

name: Deploy Storage Account Azure ARM
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: deployment
    steps:

      # Checkout code
    - uses: actions/checkout@main

      # Log into Azure
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Deploy ARM template
    - name: Run ARM deploy
      id: deploy
      uses: azure/arm-deploy@v1
      with:
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: ${{ secrets.AZURE_RG }}
        template: ./templates/azuredeploy.json
        parameters: >
          ./templates/azuredeploy.parameters.json
          storageAccountType=${{ github.event.inputs.storageAccountType }}
          storageAccountName=${{ github.event.inputs.storageAccountName }}
          location=${{ github.event.inputs.location }}

      # output containerName variable from template
    - name: Output Storage Account Name
      run: |
        echo "Storage Account Name: ${{ steps.deploy.outputs.storageAccountName }}"
        echo "Storage Account ID: ${{ steps.deploy.outputs.storageAccountId }}"
