name: Lint ARM Templates

on: push

jobs:
  lint:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@main
    - name: Checkout ARM TTK
      uses: actions/checkout@main
      with:
        repository: Azure/arm-ttk
        path: './arm-ttk'
    - name:  Validate Storage Account Template
      run: |
        Import-Module ./arm-ttk/arm-ttk/arm-ttk.psd1

        $templateDir = Get-ChildItem ./templates/

        foreach ($dir in $templateDir)
        {
          $TestResults = Test-AzTemplate -TemplatePath $dir
          foreach ($result in  $TestResults){ Write-Host "$($result.Name) `t`t`t`Passed: $($result.passed)" }

          $TestFailures =  $TestResults | Where-Object { -not $_.Passed }
          foreach ($failure in  $TestFailures){ throw "$($failure.Name) `t $($failure.AllOutput)" }
        }



